.title{padding: 1em 0}
.title ul{
    display: flex;
    list-style: none;
}
.title ul li{padding: 0 0.5em;}
.title ul li a{color: black;}
.title .title-txt{
    text-align: center;
    padding: 0 15em;
}
.title .title-txt h1{text-transform: uppercase;}
.product-main{
    display: flex;
    margin-top: 2em;
}
.product-main .option-l{
    width: 25%;
    padding-right: 3em;
}
.product-main .option-l .categories{
    border-top: 1px solid silver;
    padding: 1em 0;
    width: 100%;
}
.product-main .option-l .categories p{
    text-transform: uppercase;
    font-weight: 500;
}
.product-main .option-l .categories div{padding-left: 1em;}
.product-main .option-l .categories div label{
    color: #5a5a5a;
    font-weight: 300;
    padding-left: .5em;
}
.product-main .products-r{
    width: 75%;
    font-size: 14px;
}
.product-main .products-r .option-t{
    display: flex;
    background-color: #f8f8f8;
    justify-content: space-between;
    padding: 1em;
    font-size: 1rem;
}
.option-t-l label{text-transform: uppercase;}
.option-t-l select{padding: .3em .5em;}
.option-t-r a{
    padding: 0 .5em;
    color: rgb(145, 5, 5);
}
.option-t-r>span:nth-child(1){color: rgb(145, 5, 5);}
.products-list{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 2em 0;
}
.product{
    width: 30%;
    border: 1px solid silver;
    border-radius: 5px;
    margin: 1rem 1%;
    padding: 1em 0;
}
.product a{color: black;}
.product-t{
    padding: 0 1em;
    font-size: 1rem;
    display: flex;
    justify-content: end;
}
.product-t .wishlist{
    width: 8%;
    margin-left: .5rem;
}
button.wishlistBtn{
    background-image: url(../img/wishlist.svg);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
button.wishlistBtn:hover{
    background-image: url(../img/wishlist-full.svg);
}
.img-prod{
    padding: 0 3rem;
    overflow: hidden;
}
.img-prod img{width: 100%;}
.img-prod img:hover{transform: scale(1.2);}
.info-prod{
    margin: 0 1em 1em;
    text-align: center;
    height: 3rem;
}
.info-prod a{
    font-weight: 500;
    font-size: 1.1rem;
}

.star-prod a{
    display: flex;
    width: 7em;
    justify-content: center;
    margin: auto;
}

.price-prod{text-align: center;}
.price-prod{
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
}
.label-prod{
    padding: 0 1em 2em;
}
.label-prod .label-prod-item{
    border-bottom: 1px solid rgb(216, 213, 213);
    padding: 1em;
    display: flex;
    align-items: center;
}
.label-prod .label-prod-item i{
    font-size: 1.5rem;
    padding: .5rem;
}
.label-prod .label-prod-item span{font-size: 1rem;}
.add-cart{text-align: center;}
.add-cart a{width: 60%;}
.view-max .view-ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.view-max .product{
    width: 18em;
    margin-left: 1.2em;
    border: none;
}
.view-max h2{
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0;
}
.btn-slick{
    display: contents;
    cursor: pointer;
}
.btn-slick img{width: 1rem;}
/* responsive */
@media only screen and (max-width:991px){
    .product{width: 48%;}
    .title .title-txt{padding: 0 4em;}
    .product-main .option-l{width: 30%;}
    .product-main .products-r{width: 70%;}
    .view-max .product{width: 23em;}
}
@media only screen and (max-width:767px){
    .product-main{display: block;}
    .product-main .option-l{
        width: 100%;
        padding: 0;
    }
    .product-main .products-r{
        width: 100%;
        margin-top: 1em;
    }
    .option-l nav{
        background-color:#f8f8f8;
        justify-content: center;
    }
    .option-l nav button{
        font-size: 1em;
        border: none;
    }
    .view-max .product{width: 18em;}
}

.star > i{
    font-size: 1rem;

}

/*stars*/
.star-prod span{
    color: #9b3838;
}
.star-num{
    line-height: 2.3rem;
    margin-left:.5rem ;
}
.caption >span{
    display: none;
}
