*{
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Open Sans', sans-serif;
}
html{font-size: 16px;}
.alert-noti {
    max-width: 20rem;
    position: fixed;
    padding: 1rem 2rem 1rem 1rem;
    right: 1rem;
    top: 1rem;
    z-index: 9999;
    border-radius: 5px;
    word-break: break-word;
    box-shadow: 0 3px 3px black;
}
.alert-noti .close-alert{
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 12px;
    cursor: pointer;
}
.container-cus{
    width: 95%;
    margin: auto;
}
.scroll-hand{overflow: hidden;}
header{
    border-bottom:1px solid silver ;
    position: relative;
}
.header{display: flex;}
.header .h-logo{
    width: 10%;
    padding-right: 2em;
}
.header .h-logo img{
    width: 100%;
    height: 98%;
}
.header-r{width: 90%}
.h-menu-t{
    height: 50%;
    text-align: end;
    border-bottom: 1px solid silver;
    padding-right: 0.5em;
}
.h-menu-t div{
    height: 100%;
    line-height: 0em;
}
.h-menu-t a{
    display: inline-block;
    color: black;
    height: 100%;
    padding-top: 2em;
    font-size: .8em;
}
.header .h-menu{
    display: flex;
    justify-content: space-between;
    height: 50%;
}
.header .h-menu .h-menu-right ul{
    display: flex;
    list-style: none;
    margin: 0;
    padding: .5em 0;
}
.header .h-menu .h-menu-right ul li{padding: 0 0.5em;cursor: pointer;}
.header .h-menu .h-menu-right ul li a{color: black;}

#info-user{
    font-size: .8rem;
    background-color: white;
    top: 100%;
    right: 0;
    left: 80%;
    position: absolute;
    z-index: 9;
    padding: 1rem;
    border: 1px solid silver;
}
#info-user p{
    font-weight: 700;
}
.info-user-item{
    display: block;
    margin-bottom: 0.5rem;
}

.header .h-menu .h-menu-left>nav>div>ul>li{padding: 0 2em;}
.header .h-menu .h-menu-left ul li.h-span{padding: 0;line-height: 29px;}
.header .h-menu .h-logo-m{display: none;height: 100%;}
.header .h-menu .h-logo-m img{height: 90%;}
.header .h-menu .h-menu-left>nav>div>ul>li>a{
    text-transform: uppercase;
    font-weight: 600;
    padding: .7em 0;
    color: black;
    border-bottom: 3px solid transparent;
}
.header .h-menu .h-menu-left>nav>div>ul>li:hover>a{
    border-bottom: 2px solid rgb(211, 11, 78);
    color: rgb(211, 11, 78);
}
.header .h-menu .h-menu-left nav ul li:hover .hidden-menu-child{display: block;}
.hidden-menu-child{
    display: none;
}
.h-menu-child{
    position: absolute;
    left: 0;
    top: 101%;
    width: 100%;
    padding: 3em 2em;
    z-index: 99;
    background-color: white;
}
.h-menu-child ul li{list-style: none;}
.h-menu-child-item{
    padding: 0 2em;
    float: left;
    width: 30%;
}
.h-menu-child-item>a{
    color: #000;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 1em;
}
.list-brand{
    color: #000;
    display: block;
    text-transform: uppercase;
    font-weight: 600;
}
.h-menu-child-item>a.margin-a{margin-top: 1em;}

.h-border-menu{border-left: 1px solid silver;}
.h-menu-child-item ul li{padding: 0;}
.h-menu-child-item ul li a{
    color: #545454;
    font-size: .9rem;
}
.navbar-toggler{display: none;}
/* search */
.h-search{
    position: absolute;
    z-index: 9;
    background: #fffffff7;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    overflow: auto;
    display: none;
}
.h-close-search{
    text-align: end;
    padding: 1em 2em
}
.h-close-search .h-btn-close-search{
    color: black;
    font-size: 2em;
}
.h-search-content{
    max-width: 986px;
    padding: 0 69px;
    margin: 0 auto;
}
.h-search-content h2{
    text-align: center;
    font-size: 2.5em;
    color: #000;
    font-weight: 600;
    margin: 0 0 3rem 0;
}
.h-search-input{position: relative;}
.h-search-input input{
    width: 100%;
    text-align: center;
    padding: 1rem;
    border: 2px solid;
    font-size: 1.5em;
    font-weight: 600;
}
.h-search-input .h-btn-search{
    border: none;
    background: transparent;
    position: absolute;
    font-size: 2em;
    top: 20%;
    right: 2%;
    color: #bd4459;
}
.h-recently-head{
    display: flex;
    justify-content: space-between;
}
.h-keyword-field{padding: 4em 0;}
.head-keyword{
    font-size: 0.8em;
    margin-bottom: 1em;
}
.clear-keyword{font-size: 0.8em;}

.h-keyword-field .most-searched{
    border-left: 1px solid silver;
    padding-left: 4em;
}
.most-searched .most-item a{
    border: 1px solid black;
    border-radius: 3px;
    padding: 1px 5px;
    color: black;
    font-size: 0.8em;
    text-decoration: none;
    margin: 0 10px 5px 0;
    display: inline-block;
}
#myBtnTop {
    display: none;
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 99;
    border: none;
    background-color: #d3cdcd;
    cursor: pointer;
    border-radius: 50%;
    background-image: url(../img/arrow-up-nightrider.svg);
    width: 3em;
    height: 3em;
    background-repeat: no-repeat;
    background-size: 50% 50%;
    background-position: center;
    animation-name: scrollTop;
    animation-duration: 1s;
}
@keyframes scrollTop {
    from {right:0px}
    to {right:20px}
}
/* footer */
footer{background-color: #f5f5f5;}

.footer-t p{
    font-size: 12px;
}
.footer-m{
    display: flex;
    justify-content: space-between;
}
.footer-m .f-national img{
    width: 1em;
    border-radius: 50%;
    margin: 0  10px 4px 0;
}
.footer-m .f-national a{color: #000;}
.footer-m .f-social ul{
    display: flex;
    list-style: none;
    margin: 0;
}
.footer-m .f-social ul li{
    padding: 0 0.5rem;
    font-size: 2em;
}
.footer-m .f-social ul li a{color: #000;}
.footer{background-color: #333333;}
.footer-b{
    padding: 2em 0;
    display: flex;
}
.footer-b ul{
    display: flex;
    list-style: none;
}
.footer-b-r{width: 80%;}
.footer-b .footer-b-r ul li{padding-right: 2em;}
.footer-b .footer-b-r ul li a{
    color: #f5f5f5;
    text-transform: uppercase;
    font-size: 14px;
}
.footer-b p, .footer-b p a{
    font-size: 12px;
    margin: 0;
    color: #b2b2b2;
}
.footer-b-l{width: 20%;}


/* login */
.login-desgin{
    margin-top: 8.1rem;
}
.l-detail{
    width: 100%;
    padding: 2rem 0 0 0;
    position: relative;
}
.l-exits{
    font-size: 1.6rem;
    padding: 1rem;
    position: absolute;
    left: 1;
    right: 0;
    top: 0;
    bottom: 1;
    z-index: 2;
}
.modal-body-desgin{

    text-align: center;

}
.form-login-input{
   padding: 1.1rem 4.4rem;
}
.form-login-input> input{
    height: 3.1rem;
    width: 21.85rem;
    padding: 0.8rem;
    border: 1px solid rgba(218, 217, 217, 0.815);
}
.l-modal-footer-detail{
    width: 85%;
    text-align: end;
    display: block;
   margin: 1.1rem 0;
}

.l-modal-footer-detail> .forgot-password> a{
    text-decoration: none;
    color: rgba(65, 60, 60, 0.76);

}

.l-list-button{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.l-list-button>div{
    padding: 1rem 0;
}




.l-button-login>.login{
    background-color: black;
    color: #fff;
    height: 3.6rem;
    width: 21.85rem;
    padding: 0.8rem;
    border: none;
}

.l-button-register{
    margin:0 0 1rem 0;
    width: 100%;
}
.l-button-register>a>.register{
    background-color: #fff ;
    border: 1px solid black;
    height: 3.6rem;
    width: 21.85rem;
    padding: 0.8rem;
    color: #000;
    text-decoration: none;

}

.l-button-register>a>.register:hover{
    background-color: black;
    color: #fff;
}
.l-button-login>a>.login:hover{
    background-color: #fff ;
    border: 1px solid black;
    color: black;
}


/* forget */

.l-detail-forget{
    padding: 2.1rem;
}
.l-list-button-forget {
    width: 100%;

}
.l-list-button-forget>.l-button-login-forget{
    display: flex;
    width: 100%;
   justify-content: center;
}
.l-list-button-forget>.l-button-login-forget>button{
    margin-top: 1.1rem ;
    height: 3.6rem;
    width: 34%;
    padding: 0.8rem;
    border: none;

}
.l-list-button-forget>.l-button-login-forget>.cancel{
    margin-left:0.6rem;
    background-color: #fff ;
    border: 1px solid black;
    color: black;
}

.l-list-button-forget>.l-button-login-forget>.submit{
   color: #fff;
   background-color: black;
}
.l-list-button-forget>.l-button-login-forget>.submit:hover{
    color: #fff;
    background-color: #fff ;
    border: 1px solid black;
    color: black;
 }

.l-list-button-forget>.l-button-login-forget>.cancel:hover{
    background-color: black;
    color: #fff;
}
/* search product */
.h-product-search{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.h-product-search>div{
    padding: 1rem 0;
}
.h-product-search>div >img{

    width: 5rem;
    height: 3rem;
}
.h-product-detail-search{
    margin: 0.3rem 1rem 0 1rem;

}
.head-keyword >div>p{
    cursor: pointer;
}

