
.l-page-desgin{
    width: 60%;
   
    padding: 2rem;
   margin: auto;
}
/* tiêu đề */
.l-detail-page {
    
    font-weight: 100;
    display: flex;
    justify-content: center;

}
.l-detail-page>div{
    padding: 1.5rem 0 0 1rem;
}
.l-detail-page>.l-themes-login-page{
    position: relative;
    padding: 1.5rem;
}
.l-detail-page>.l-themes-login-page::after {
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    content: "";
    background-color: black;
    top: 0;
    bottom: 1;
    left: 1;
    right: 0;
    margin:3rem 0 0 0.5rem;
}
.l-detail-page>.l-themes-register-page>h1>a{
    text-decoration: none;
    color: rgba(54, 53, 53, 0.815);
   
   
}
.l-detail-page>.l-themes-register-page>h1:hover>a{
    color: black;
}
/* lable */
.l-themes-page > label{
    font-size: 1.1rem;
}
/* input */
.form-login-input-page{
    padding: 1.1rem;
}
.form-login-input-page > input{
    width: 99%;
    height: 3.1rem;
    padding: 0.8rem;
    border: 1px solid rgba(218, 217, 217, 0.815);

}
.l-list-button-page{
    width: 94%;
    display: flex;
    justify-content: space-between;
    margin:1.2rem auto;
    
}
.l-footer-page>.forgot-password-page>a{
    text-decoration: none;
    color: rgba(54, 53, 53, 0.815);
    line-height: 3.5rem;
    font-size: 1.1rem;
}

.l-footer-page>.forgot-password-page:hover>a{
    color: black;
}

/* register */

.l-list-button-page>.l-button-register-page{
    width: 100%;
    margin: 1rem 0;
}
.l-list-button-page>.l-button-register-page>.register{
    height: 3.6rem;
    width: 100%;
    padding: 0.8rem;
   
    background-color: black ;
    border: 1px solid black;
    color: #fff;
}

.l-list-button-page>.l-button-register-page:hover >.register{
    background-color: #fff ;
    border: 1px solid black;
    color: black;
}

/* forgot */
.forgot-design{
    margin: 2rem 0;
    text-align: center;
}

.l-list-button-page>.l-button-login-page-forgot{
    width: 100%;
}

.l-list-button-page>.l-button-login-page-forgot>button{
    height: 3.6rem;
    width: 98%;
    padding: 0.8rem;
   
    
    color: #fff;
}
.l-list-button-page>.l-button-login-page-forgot>.submit{
    background-color: black ;
    border: 1px solid black;
}


.l-list-button-page>.l-button-login-page-forgot:hover>.submit{
    background-color: #fff ;
    border: 1px solid black;
    color: black;
}

/* l-button-login-page-forgot-cancel */
.l-button-login-page-forgot-cancel{

    padding: 0.8rem;
}
.l-button-login-page-forgot-cancel>button{
    height: 3.6rem;
    width: 94.7%;

    border: 1px solid black;
    text-decoration: none;
    color: black;
    background-color: #fff;
}
.l-button-login-page-forgot-cancel>button:hover{
  
    color: #fff;
    background-color: black;
}
  
