.main{
    width: 100%;
    margin: 2rem 0;
}
.m-search-middle{
    position: relative;
}


.m-search-middle input{
    margin: 2rem 0;
    width: 100%;
    height: 3rem;
    padding-left: 1rem;
    border: 1px solid rgba(73, 72, 72, 0.479);

}
.m-search-middle > i {
    font-size: 2rem;
    position: absolute;
    top: 37%;
    bottom: 0;
    left: 1;
    right: 0.5rem;
    color:rgba(73, 72, 72, 0.479) ;
}

/* product */
.m-search-bottom{
    width: 100%;
    margin-left: 1rem;
}
.img-new1{
    width: 18rem;
    height: 26.6rem;
    position: relative;
    margin: 2rem 0;

}

.img-new1:hover .price-sell {
    display: none;
}


.img-scale {

    overflow: hidden;
    border: 1px solid #e4e4e4;
    border-radius: 0.7rem;
    width: 18rem;
    height: 26.6rem;
    position: relative;
    background-color: white;
    padding: 4rem 0 0 1.2rem;

}





/* product-detail */
.product-detail {
    overflow: hidden;
    width: 78%;
    text-align: center;
    position: absolute;
    bottom: 0;
    height: 27rem;

}

.product-name {
    color: #333;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.85rem;
    height: 18rem;
    margin: 2rem 0;
}


.product-detail div>a {

    color: black;
    text-decoration: none;
    text-transform: uppercase;

}

.price-sell {
    font-size: 0.8rem;
    color: #6b6b6b;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    height: 8rem;
}

.product-action {
    text-align: center;
    width: 100%;
    height: 3rem;
    font-size: 1.64rem;
    color: white;
    background: rgba(2, 2, 2, 0.842);
    transition: 0.3s;

}

.img-new1:hover .product-action {
    transform: translate(0%, 0%);
    transition: 0.3s;
    z-index: 3;
}

.product-action i {
    padding: 0.71rem;
}

.product-action div {
    display: inline-block;
    width: 43px;
    height: 43px;
    overflow: hidden;
}

.icon-heart,
.icon-cart,.icon-search {
    cursor: pointer;
}

.icon-heart i,
.icon-cart i,.icon-search i {
    transition: .4s;
}

.icon-heart:hover i,
.icon-cart:hover i, .icon-search:hover i {
    transform: translate(0%, -100%);
    transition: .4s;
}

.product-img {

    width: 11.8rem;
    height: 11.8rem;
    position: absolute;
    top: 50%;
    transform: translate(16%, -50%);


}
.p-noti{
    font-size: .8rem;
    color: #bd0101;
}
p.non-ac{
    display: none;
}
